			
			/* KCB Brand Colors */
			:root {
				--kcb-green: #7CC142;
				--kcb-dark-green: #5a9e2d;
				--kcb-light-green: #a8d97a;
				--kcb-navy: #1a3a52;
				--kcb-dark-navy: #0f2438;
				--kcb-orange: #f7941d;
			}

			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			html, body, div, span, applet, object,
			iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
			pre, a, abbr, acronym, address, big, cite,
			code, del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var, b,
			u, i, center, dl, dt, dd, ol, ul, li, fieldset,
			form, label, legend, table, caption, tbody,
			tfoot, thead, tr, th, td, article, aside,
			canvas, details, embed, figure, figcaption,
			footer, header, hgroup, menu, nav, output, ruby,
			section, summary, time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}

			article, aside, details, figcaption, figure,
			footer, header, hgroup, menu, nav, section {
				display: block;
			}

			body {
				line-height: 1;
				background-color: var(--kcb-navy);
				background-image: linear-gradient(to right, var(--kcb-dark-navy) 0%, var(--kcb-navy) 100%);
				color: rgba(255, 255, 255, 0.65);
				font-family: 'Open Sans', sans-serif;
				font-size: 13pt;
				font-weight: 400;
				line-height: 1.65;
				overflow-x: hidden;
			}

			/* Typography */
			a {
				color: var(--kcb-green);
				text-decoration: underline;
			}

			a:hover {
				text-decoration: none;
			}

			strong, b {
				color: #ffffff;
				font-weight: 600;
			}

			p {
				margin: 0 0 2em 0;
			}

			h1, h2, h3, h4, h5, h6 {
				color: #ffffff;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				line-height: 1.5;
				margin: 0 0 1em 0;
				text-transform: uppercase;
			}

			h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
				color: inherit;
				text-decoration: none;
			}

			h1 { font-size: 2.5em; }
			h2 { font-size: 1.75em; }
			h3 { font-size: 1.35em; }

			/* Header */
			#header {
				background: rgba(26, 58, 82, 0.95);
				height: 3.5em;
				left: 0;
				line-height: 3.5em;
				padding: 0 1.25em;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1000;
				box-shadow: 0 2px 10px rgba(0,0,0,0.3);
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			#header h1 {
				border-bottom: 0;
				font-size: 0.8em;
				margin-bottom: 0;
				opacity: 1;
				visibility: visible;
			}

			#header h1 a {
				color: #fff;
				display: flex;
				align-items: center;
				gap: 0.5em;
				text-decoration: none;
			}

			.kcb-logo-icon {
				background: var(--kcb-green);
				color: white;
				width: 2.5em;
				height: 2.5em;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 800;
				font-size: 1em;
				font-family: 'Montserrat', sans-serif;
			}

			/* Menu Button */
			#menu-btn {
				background: transparent;
				border: 2px solid rgba(255,255,255,0.3);
				color: white;
				padding: 0.5em 1.5em;
				border-radius: 5px;
				cursor: pointer;
				font-weight: bold;
				font-family: 'Montserrat', sans-serif;
				font-size: 0.8em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				transition: all 0.3s ease;
			}

			#menu-btn:hover {
				background: rgba(255,255,255,0.1);
				border-color: var(--kcb-green);
			}

			/* Page Wrapper */
			#page-wrapper {
				transition: filter 0.3s ease;
				padding-top: 3.5em;
			}

			#page-wrapper.blur {
				filter: blur(5px);
			}

			/* Menu Overlay */
			#menu-overlay {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(26, 58, 82, 0.95);
				display: none;
				align-items: center;
				justify-content: center;
				z-index: 10000;
				opacity: 0;
				transition: opacity 0.35s ease;
			}

			#menu-overlay.show {
				display: flex;
				opacity: 1;
			}

			.menu-box {
				background: var(--kcb-green);
				padding: 3em;
				border-radius: 10px;
				width: 90%;
				max-width: 400px;
				position: relative;
				transform: scale(0.8);
				transition: transform 0.35s ease;
				box-shadow: 0 20px 60px rgba(0,0,0,0.5);
			}

			#menu-overlay.show .menu-box {
				transform: scale(1);
			}

			.menu-box h2 {
				color: white;
				margin: 0 0 1em 0;
				border-bottom: 2px solid rgba(255,255,255,0.3);
				padding-bottom: 0.5em;
				font-size: 1.8em;
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
			}

			.menu-box ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.menu-box li {
				margin: 0.8em 0;
			}

			.menu-box a {
				color: white;
				text-decoration: none;
				font-size: 1.1em;
				font-weight: 600;
				display: block;
				padding: 0.8em;
				border-radius: 5px;
				transition: all 0.3s ease;
				background: rgba(0,0,0,0.1);
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}

			.menu-box a:hover {
				background: rgba(0,0,0,0.3);
				transform: translateX(10px);
			}

			#close-btn {
				position: absolute;
				top: 15px;
				right: 20px;
				color: white;
				font-size: 2em;
				font-weight: bold;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: all 0.3s ease;
				background: none;
				border: none;
				cursor: pointer;
			}

			#close-btn:hover {
				background: rgba(0,0,0,0.2);
				transform: rotate(90deg);
			}

			body.menu-open {
				overflow: hidden;
			}

			/* Banner */
			#banner {
				padding: 10em 0 4.75em 0;
				position: relative;
			}

			#banner .inner {
				margin: 0 auto;
				width: 55em;
				text-align: center;
			}

			#banner .logo {
				margin: 0 0 1.3em 0;
			}

			#banner .logo .icon {
				border-radius: 100%;
				border: solid 2px rgba(255, 255, 255, 0.125);
				display: inline-block;
				font-size: 2em;
				height: 2.25em;
				line-height: 2.25em;
				text-align: center;
				width: 2.25em;
			}

			#banner h2 {
				border-bottom: solid 2px rgba(255, 255, 255, 0.125);
				font-size: 2.25em;
				margin-bottom: 0.8em;
				padding-bottom: 0.4em;
			}

			#banner p {
				font-family: 'Montserrat', sans-serif;
				font-size: 1em;
				font-weight: 200;
				letter-spacing: 0.1em;
				line-height: 2;
				text-transform: uppercase;
			}

			/* Wrapper Sections */
			.wrapper {
				background-color: var(--kcb-navy);
				margin: 6.5em 0;
				position: relative;
			}

			.wrapper:before, .wrapper:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%231a3a52%3B' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-size: 100% 100%;
				content: '';
				display: block;
				height: 6.5em;
				position: absolute;
				width: 100%;
			}

			.wrapper:before {
				left: 0;
				top: -6.5em;
			}

			.wrapper:after {
				transform: scaleY(-1);
				bottom: -6.5em;
				left: 0;
			}

			.wrapper .inner {
				padding: 3em 0 1em 0;
				margin: 0 auto;
				width: 55em;
			}

			.wrapper.style2 {
				background-color: var(--kcb-green);
			}

			.wrapper.style2:before, .wrapper.style2:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%237CC142%3B' /%3E%3C/svg%3E");
			}

			.wrapper.style3 {
				background-color: var(--kcb-dark-navy);
			}

			.wrapper.style3:before, .wrapper.style3:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%230f2438%3B' /%3E%3C/svg%3E");
			}

			/* Spotlight */
			.wrapper.spotlight .inner {
				display: flex;
				align-items: center;
				flex-direction: row;
			}

			.wrapper.spotlight .image {
				border-radius: 100%;
				margin: 0 3em 0 0;
				width: 22em;
				overflow: hidden;
				flex: 1;
			}

			.wrapper.spotlight .image img {
				border-radius: 100%;
				width: 100%;
				display: block;
			}

			.wrapper.spotlight .content {
				width: 100%;
				flex: 2;
			}

			.wrapper.spotlight:nth-child(2n - 1) .inner {
				flex-direction: row-reverse;
				text-align: right;
			}

			.wrapper.spotlight:nth-child(2n - 1) .image {
				margin: 0 0 0 3em;
			}

			/* Features */
			.features {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 2em 0;
			}

			.features article {
				padding: 1.75em 1.75em 0.1em 1.75em;
				background-color: var(--kcb-dark-navy);
				border-radius: 5px;
				margin: 1.5em 3em 1.5em 0;
				width: calc(50% - 1.5em);
			}

			.features article:nth-child(2n) {
				margin-right: 0;
			}

			.features article .image {
				border-radius: 5px 5px 0 0;
				display: block;
				margin-bottom: 1.75em;
				margin-left: -1.75em;
				margin-top: -1.75em;
				position: relative;
				width: calc(100% + 3.5em);
				overflow: hidden;
			}

			.features article .image img {
				border-radius: 5px 5px 0 0;
				width: 100%;
				display: block;
			}

			/* Buttons */
			.button {
				background-color: transparent;
				border-radius: 5px;
				border: 0;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
				color: #ffffff !important;
				cursor: pointer;
				display: inline-block;
				font-family: 'Montserrat', sans-serif;
				font-size: 0.8em;
				font-weight: 700;
				height: 3.75em;
				letter-spacing: 0.1em;
				line-height: 3.75em;
				padding: 0 2.25em;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				transition: background-color 0.2s ease-in-out;
			}

			.button:hover {
				background-color: rgba(255, 255, 255, 0.025);
			}

			.button.primary {
				background-color: var(--kcb-green);
				box-shadow: none;
			}

			.button.primary:hover {
				background-color: var(--kcb-dark-green);
			}

			/* Actions */
			.actions {
				list-style: none;
				padding: 0;
				margin: 2em 0;
			}

			.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

			/* Special link */
			.special {
				color: var(--kcb-green);
				text-decoration: none;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.8em;
				font-family: 'Montserrat', sans-serif;
			}

			.special:hover {
				color: var(--kcb-light-green);
			}

			/* Footer */
			#footer .inner {
				padding: 5em 0 3em 0;
				display: flex;
				flex-wrap: wrap;
				margin: 0 auto;
				width: 55em;
			}

			#footer .inner > * {
				width: 100%;
			}

			#footer .inner form {
				margin: 0 3em 0 0;
				width: calc(50% - 1.5em);
			}

			#footer .inner .contact {
				width: calc(50% - 1.5em);
			}

			#footer .inner .copyright {
				border-top: solid 2px rgba(255, 255, 255, 0.125);
				list-style: none;
				margin: 4em 0 2em 0;
				padding: 2em 0 0 0;
				width: 100%;
			}

			#footer .inner .copyright li {
				border-left: solid 2px rgba(255, 255, 255, 0.125);
				color: rgba(255, 255, 255, 0.35);
				display: inline-block;
				font-size: 0.9em;
				line-height: 1;
				margin-left: 1em;
				padding-left: 1em;
			}

			#footer .inner .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

			#footer .inner .copyright li a {
				color: inherit;
			}

			/* Form */
			form .field {
				margin: 0 0 1.5em 0;
			}

			label {
				color: #ffffff;
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 0.8em;
				font-weight: 700;
				letter-spacing: 0.1em;
				margin: 0 0 0.7em 0;
				text-transform: uppercase;
			}

			input[type="text"],
			input[type="email"],
			textarea {
				background: rgba(255, 255, 255, 0.025);
				border-radius: 5px;
				border: solid 2px rgba(255, 255, 255, 0.125);
				color: inherit;
				display: block;
				outline: 0;
				padding: 0 1em;
				text-decoration: none;
				width: 100%;
				font-family: 'Open Sans', sans-serif;
				font-size: 13pt;
			}

			input[type="text"]:focus,
			input[type="email"]:focus,
			textarea:focus {
				border-color: var(--kcb-green);
			}

			input[type="text"],
			input[type="email"] {
				height: 2.75em;
			}

			textarea {
				padding: 0.75em 1em;
				resize: vertical;
			}

			/* Lists */
			ul {
				list-style: disc;
				margin: 0 0 2em 0;
				padding-left: 1em;
			}

			ul li {
				padding-left: 0.5em;
			}

			ul.alt {
				list-style: none;
				padding-left: 0;
			}

			ul.alt li {
				border-top: solid 1px rgba(255, 255, 255, 0.125);
				padding: 0.5em 0;
			}

			ul.alt li:first-child {
				border-top: 0;
				padding-top: 0;
			}

			ul.contact {
				list-style: none;
				padding: 0;
			}

			ul.contact li {
				padding-left: 0;
				margin: 0 0 1em 0;
			}

			/* Responsive */
			@media screen and (max-width: 1280px) {
				.wrapper {
					margin: 4.75em 0;
				}

				.wrapper:before, .wrapper:after {
					height: 4.75em;
				}

				.wrapper:before {
					top: -4.75em;
				}

				.wrapper:after {
					bottom: -4.75em;
				}

				.wrapper .inner {
					padding: 3em 3em 1em 3em;
					width: 100%;
				}

				#banner {
					padding: 7em 0 8.25em 0;
					background-color: var(--kcb-navy);
					background-image: linear-gradient(to top, rgba(26, 58, 82, 0.8), rgba(26, 58, 82, 0.8)), url("https://images.unsplash.com/photo-1563986768609-322da13575f3?w=1920");
					background-size: auto, cover;
					background-position: center, center;
					margin-bottom: -4.25em;
				}

				#banner .inner {
					width: 100%;
					padding: 0 2em;
				}

				#footer {
					background-color: var(--kcb-navy);
					background-image: linear-gradient(to top, rgba(26, 58, 82, 0.8), rgba(26, 58, 82, 0.8)), url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?w=1920");
					background-size: auto, cover;
					background-position: center, center;
					margin-top: -4.25em;
					padding-top: 4.25em;
				}

				#footer .inner {
					padding: 3em 3em 1em 3em;
					width: 100%;
				}

				#footer .inner form {
					width: 100%;
					margin: 0 0 4em 0;
				}

				#footer .inner .contact {
					width: 100%;
					margin: 0 0 4em 0;
				}
			}

			@media screen and (max-width: 980px) {
				.wrapper.spotlight .inner {
					display: block;
				}

				.wrapper.spotlight .image {
					margin: 0 0 1em 0 !important;
					max-width: 85%;
					width: 12em;
				}

				.features article {
					margin: 1em 2em 1em 0;
					width: calc(50% - 1em);
				}
			}

			@media screen and (max-width: 736px) {
				body {
					font-size: 11pt;
				}

				h1 { font-size: 2em; }
				h2 { font-size: 1.25em; }

				#header {
					height: 2.75em;
					line-height: 2.75em;
				}

				#menu-btn {
					padding: 0.3em 1em;
					font-size: 0.7em;
				}

				#banner {
					padding: 5em 2em 4.25em 2em;
					margin-bottom: -2.5em;
				}

				#banner .logo {
					margin: 0 0 1em 0;
				}

				#banner h2 {
					font-size: 1.5em;
				}

				.wrapper {
					margin: 2.5em 0;
				}

				.wrapper:before, .wrapper:after {
					height: 2.5em;
				}

				.wrapper:before {
					top: -2.5em;
				}

				.wrapper:after {
					bottom: -2.5em;
				}

				.wrapper .inner {
					padding: 2em 2em 0.1em 2em;
				}

				.features {
					display: block;
				}

				.features article {
					width: 100%;
					margin: 0 0 2em 0 !important;
				}

				#footer {
					margin-top: -2.5em;
					padding-top: 2.5em;
				}

				#footer .inner {
					padding: 2em 2em 0.1em 2em;
				}

				#footer .inner .copyright li {
					border-left: 0;
					display: block;
					margin: 1em 0 0 0;
					padding-left: 0;
				}

				#footer .inner .copyright li:first-child {
					margin-top: 0;
				}

				.menu-box {
					padding: 2em;
				}

				.menu-box h2 {
					font-size: 1.5em;
				}

				.menu-box a {
					font-size: 1em;
					padding: 0.6em;
				}
			}

			@media screen and (max-width: 480px) {
				.actions li {
					padding: 1em 0 0 0;
					display: block;
					text-align: center;
					width: 100%;
				}

				.actions li:first-child {
					padding-top: 0;
				}

				.button {
					width: 100%;
				}
			}

			/* Image */
			.image {
				border-radius: 5px;
				border: 0;
				display: inline-block;
				position: relative;
			}

			.image img {
				border-radius: 5px;
				display: block;
			}

			/* Major heading style */
			.major h2:after {
				content: '';
				display: block;
				height: 2px;
				margin: 0.7em 0 0.5em 0;
				width: 3em;
				background: var(--kcb-green);
			}

			.major h2 {
				margin-bottom: 0.5em;
			}
